[Unit]
Description=Roon CEC Controller Extension

[Service]
ExecStart=/usr/bin/node /var/roon-cec-controller-extension/app.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/roon-cec-controller-extension/

[Install]
WantedBy=multi-user.target
